@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The <strong>Dash Accounting System</strong> is a very basic ASP.NET Core powered general ledger / journal for super simple bookkeeping.</p>
