
@{
    ViewData["Title"] = "My Home";
}

<h2>My Home</h2>

<p>
    This page should require an authenticated user.
</p>
<p>
    Eventually this page will be the entry point to manage your tenant in Dash Software Solutions.
</p>

