@using DashAccountingSystem.Data.Models
@model IEnumerable<Tenant>
@{
    ViewData["Title"] = "My Home";
}

<h2>My Home</h2>
<p>Choose an organization below to go to open the ledger:</p>

@foreach (var tenant in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <a asp-route="accountsIndex"
               asp-route-tenantid="@tenant.Id"
            >
                @tenant.Name
            </a>
        </div>
    </div>
}