@using DashAccountingSystem.Models
@model ChartOfAccountsViewModel

@{
    var flattenedAccountCatgoryLookup = Model
        .Accounts
        .SelectMany(acctCat => acctCat.Value)
        .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

    <select class="selectpicker" data-dropup-auto="false" data-width="auto">
        @{
            foreach (var category in flattenedAccountCatgoryLookup)
            {
                <optgroup label="@category.Key.GetDisplayName()">
                @{ 
                    foreach (var account in category.Value)
                    {
                        <option value="@account.Id">@account.DisplayName</option>
                    }
                }
                </optgroup>
            }
        }
    </select>
}