@using DashAccountingSystem.Data.Models
@model TransactionStatus
@{
    string statusLabelClass = "alert alert-";

    switch (Model)
    {
        case TransactionStatus.Pending:
            statusLabelClass = $"{statusLabelClass}warning";
            break;
        case TransactionStatus.Posted:
            statusLabelClass = $"{statusLabelClass}success";
            break;
        case TransactionStatus.Canceled:
            statusLabelClass = $"{statusLabelClass}danger";
            break;
        case TransactionStatus.Closed:
            statusLabelClass = $"{statusLabelClass}info";
            break;
    }

    <div class="transaction-status @statusLabelClass">@Model</div>
}
