@using DashAccountingSystem.Models
@model JournalEntryBaseViewModel

@{
    ViewData["Title"] = "Add Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tenant = ViewBag.Tenant;
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

<form asp-route="addJournalEntryPost" asp-route-tenantid="@tenant.Id">
    <div class="row">
        <div class="col-sm-6 pull-right" style="text-align: right;">
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group">
                <label asp-for="EntryDate">Entry Date</label>
                <input asp-for="EntryDate" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group">
                <label asp-for="PostDate">Post Date</label>
                <input asp-for="PostDate" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <label asp-for="CheckNumber">Check # Reference</label>
            <input asp-for="CheckNumber" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Description">Transaction Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="col-md-6">
            <label asp-for="Note">Additional Note</label>
            <textarea asp-for="Note" class="form-control"></textarea>
        </div>
    </div>
</form>

<div class="row" style="margin-top:22px;">
    <div class="col-md-6">
        <partial name="~/Views/Shared/_AccountSelectorPartial.cshtml" />
    </div>
</div>

