@using DashAccountingSystem.Extensions
@using DashAccountingSystem.Models
@model JournalEntryBaseViewModel

@{
    ViewData["Title"] = "Add Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tenant = ViewBag.Tenant;

    string AccountWidgetProps()
    {
        var accountsList = ViewBag.AccountList as CategorizedAccountsViewModel;
        var transformedAccountsList = accountsList.AccountCategories.Select(categoryEntry => new
        {
            category = categoryEntry.Key.GetDisplayName(),
            accounts = categoryEntry.Value.Select(acct => new
            {
                id = acct.Id,
                name = acct.DisplayName
            })
        });

        var combinedProps = new {
            accounts = Model.Accounts,
            accountsList = transformedAccountsList,
            assetTypes = ViewBag.AssetTypes
        };

        return combinedProps.SerializeProps();
    }
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

@{
    if (ViewBag.PostBack && ViewBag.SuccessfulSave)
    {
        <div>Add Entry Post Back!!!</div>
        @* TODO: Show journal entry details and a succes banner and such *@
        <div class="row" style="margin-top: 22px">
            <div class="col-md-2">
                <a class="btn btn-success"
                   asp-route="addJournalEntry"
                   asp-route-tenantid="@tenant.Id"
                   role="button">
                    Add Another
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary"
                   asp-route="journalIndex"
                   asp-route-tenantid="@tenant.Id"
                   role="button">
                    Back to Journal
                </a>
            </div>
        </div>
    }
    else
    {
        <form asp-route="addJournalEntryPost" asp-route-tenantid="@tenant.Id" id="add-entry-form">
            <div class="row">
                <div class="col-sm-4 col-md-2 pull-right" style="text-align: right;">
                    <input class="btn btn-success form-control" type="submit" value="Submit" id="submit-button">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label asp-for="EntryDate">Entry Date</label>
                        <input asp-for="EntryDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label asp-for="PostDate">Post Date</label>
                        <input asp-for="PostDate" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label asp-for="CheckNumber">Check # Reference</label>
                    <input asp-for="CheckNumber" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Description">Transaction Description</label>
                    <textarea asp-for="Description" class="form-control" maxlength="2048"></textarea>
                </div>
                <div class="col-md-6">
                    <label asp-for="Note">Additional Note</label>
                    <textarea asp-for="Note" class="form-control"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:22px; margin-bottom: 22px">
                <div class="col-md-6">
                    <partial name="~/Views/Shared/_AccountSelectorPartial.cshtml" />
                </div>
                <div class="col-md-3">
                    <partial name="~/Views/Shared/_AssetTypeSelectorPartial.cshtml" />
                </div>
                <div class="col-md-2 col-md-offset-1" style="text-align:right">
                    <button id="add-account" class="btn btn-success form-control">Add Account</button>
                </div>
            </div>
            <h4>Accounts</h4>
            <div id="journal-entry-accounts" data-props="@AccountWidgetProps()"></div>
        </form>
    }
}

@section Scripts {
    @*<script src="~/js/react.min.js"></script>*@
    @*<script src="~/js/react-dom.min.js"></script>*@
    <script src="~/js/react.js"></script>
    <script src="~/js/react-dom.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/components.js" asp-append-version="true"></script>
    <script type="text/javascript">
        console.log('Components:', components);
        common.mountComponent(components.JournalEntryAccounts, "#journal-entry-accounts");
    </script>
}

