@using DashAccountingSystem.Models
@model AddJournalEntryPageViewModel

@{
    ViewData["Title"] = "Add Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_TenantMastheadAndSubNav.cshtml" />

<form asp-route="addJournalEntryPost" asp-route-tenantid="@Model.Tenant.Id">
    <div class="row">
        <div class="col-sm-6 pull-right" style="text-align: right;">
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group">
                <label asp-for="JournalEntry.EntryDate">Entry Date</label>
                <input asp-for="JournalEntry.EntryDate" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group">
                <label asp-for="JournalEntry.PostDate">Post Date</label>
                <input asp-for="JournalEntry.PostDate" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <label asp-for="JournalEntry.CheckNumber">Check # Reference</label>
            <input asp-for="JournalEntry.CheckNumber" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="JournalEntry.Description">Transaction Description</label>
            <textarea asp-for="JournalEntry.Description" class="form-control"></textarea>
        </div>
        <div class="col-md-6">
            <label asp-for="JournalEntry.Note">Additional Note</label>
            <textarea asp-for="JournalEntry.Note" class="form-control"></textarea>
        </div>
    </div>
</form>

<div class="row" style="margin-top:22px;">
    <div class="col-md-6">
        <partial name="~/Views/Shared/_AccountSelector.cshtml" />
    </div>
</div>

