@using DashAccountingSystem.Models
@model JournalEntryDetailedViewModel
@{
    ViewData["Title"] = "Journal Entry Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_TenantMastheadAndNavPartial" />
<partial name="_JournalEntryMetadataPartial" />
<partial name="_JournalEntryAccountsPartial" />
<hr />
<div style="margin-top: 11px">

    <partial name="_JournalEntryActionLinksPartial" />

    <a href="javascript:history.go(-1)">
        Back to Journal
    </a>
</div>
