@{
    ViewData["Title"] = "Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tenant = ViewBag.Tenant;
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

<a class="btn btn-primary"
   asp-route="addJournalEntry"
   asp-route-tenantid="@tenant.Id"
   role="button"
>
    Add Entry
</a>

<div style="margin-top:22px">
    <p>TODO: Show some existing journal entry stuff...</p>
</div>

