@using DashAccountingSystem.Data.Models
@using DashAccountingSystem.Extensions
@using DashAccountingSystem.Models
@model JournalViewModel
@{
    ViewData["Title"] = "Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tenant = ViewBag.Tenant;
}

<partial name="~/Views/Shared/_TenantMastheadAndNavPartial.cshtml" />

<a class="btn btn-primary"
   asp-route="addJournalEntry"
   asp-route-tenantid="@tenant.Id"
   role="button"
>
    Add Entry
</a>

<div style="margin-top:22px">
@{
    <h3>Pending Journal Entries</h3>
    if (!Model.PendingEntries.HasAny())
    {
        <p>There are no pending journal entries</p>
    }
    else
    {
        <partial name="_PendingJournalEntriesTablePartial" for="PendingEntries" />
    }

    <h3>Entries</h3>
    if (!Model.Entries.Results.HasAny())
    {
        <p>There are no journal entries yet for this period</p>
    }
    else
    {
        <partial name="_JournalEntriesTablePartial" for="Entries" />
    }
}
</div>

