/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* BEGIN Actually Added Style Rules for all Widths */
/* Tenant Sub-Navigation */
.secondary-nav {
    margin: 22px auto;
}

.masthead-tenant-name h4 {
    margin-top: 23px;
}

/* Chart of Accounts */
.acct-category h3, .acct-category h4, .acct-heading h5 {
    font-weight: bold;
}
.acct-balance {
    display: flex;
}
.acct-balance-value {
    font-weight: bold;
    margin-left: 6px;
    text-align: right;
}

/* Asset Selector Glyphicons */
.filter-option-inner-inner .glyphicon {
    left: 0px;
    top: 2px;
}

.dropdown-menu.inner .glyphicon {
    left: -8px;
}

/* Number Input Hacks */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 11px;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Journal Entry Metadata */
.journal-entry-meta {
    margin: auto 15px;
}

/* Journal Entry Accounts Table */
.journal-entry-accounts {
    margin-top: 22px;
}

.journal-entry-accounts .panel-body {
    padding-left: 0;
    padding-right: 0;
}

/* Read-Only Form Input Styled to look like static test */
input[readonly].form-control,
input[readonly].form-control-static,
textarea[readonly].form-control,
textarea[readonly].form-control-static {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1em;
    min-height: 0;
    padding: 0;
}

textarea[readonly].form-control,
textarea[readonly].form-control-static {
    outline: none;
    overflow-y: auto;
    resize: none;
    width: 100%;
}

small.asset-type {
    font-size: 67%;
}

/*   END Actually Added Style Rules for all Widths */

/* BEGIN: Style Rules for widths 767px and below (X-SMALL) */
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* END: Style Rules for widths 767px and below  (X-SMALL) */

/* BEGIN: Style Rules for widths 768px and above (SMALL AND UP) */
@media screen and (min-width: 768px) {
    .masthead-tenant-name {
        text-align: right;
    }
    .journal-entry-accounts .panel-body {
        padding-left: 22px;
    }
}
/* END: Style Rules for widths 768px and above (SMALL AND UP) */

/* BEGIN: Style Rules for widths 992px and above (MEDIUM AND UP) */
@media screen and (min-width: 992px) {
    .journal-entry-meta {
        width: 80%;
    }
}
/* END: Style Rules for widths 992px and above (MEDIUM AND UP) */

/* BEGIN: Style Rules for widths 1200px and above (LARGE AND UP) */
@media screen and (min-width: 1200px) {
    .journal-entry-meta {
        width: 67%;
    }
    .journal-entry-accounts .panel-body {
        margin-right: 55px;
    }
}
/* END: Style Rules for widths 1200px and above (LARGE AND UP) */
