/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* BEGIN Actually Added Style Rules for all Widths */
/* Tenant Sub-Navigation */
.secondary-nav {
    margin: 22px auto;
}

.masthead-tenant-name h4 {
    margin-top: 23px;
}

/* Chart of Accounts */
.acct-category h3, .acct-category h4, .acct-heading h5 {
    font-weight: bold;
}
.acct-balance {
    display: flex;
}
.acct-balance-value {
    font-weight: bold;
    margin-left: 6px;
    text-align: right;
}

/* Asset Selector Glyphicons */
.filter-option-inner-inner .glyphicon {
    left: 0px;
    top: 2px;
}

.dropdown-menu.inner .glyphicon {
    left: -8px;
}

/* Number Input Hacks */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 22px;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*   END Actually Added Style Rules for all Widths */
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .masthead-tenant-name {
        text-align: right;
    }
}
